.pageheader {
  background-color: #176dc2;
}

.text-white {
  color: #ffffff;
}

body {
  background-color: #fafafa;
}

#searchList {
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

.svgClippy {
  width: 16px;
}
